.title {
  margin: 80px 40px 40px 40px;
  color: darkgoldenrod;
  font-family: sans-serif;
  font-size: 40px;
}

.p {
  margin: 40px 40px 40px 40px;
  color: darkgoldenrod;
  font-family: sans-serif;
  font-size: 30px;
}